<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ultima Gaming</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.master.co/css"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="bg:linear-gradient(300deg,#023030,#000000) background-size:150%|150% @gradient-animation|ease-in|7s|infinite|alternate mt:60px font-family:$(font-family)">

    <nav class="display:block fixed top:0 w:full z:1040 bb:1|solid|transparent text:20@<=lg jc:center aligh-items:center">
        <a class="float:left" href="/">
            <img class="w:80px h:auto" src="https://imgur.com/G3c0e8w.png" href="/">
        </a>

        <a class="text-decoration:none text:center p:13px|16px font:fade-60 font:1rem font:semibold background-color:gray-2:hover" href="/leaderboard">Leaderboard</a>
        <a class="text-decoration:none text:center p:13px|16px font:fade-60 font:1rem font:semibold background-color:gray-2:hover" href="/throneroom">ThroneRoom</a>
        <a class="text-decoration:none text:center p:13px|16px font:fade-60 font:1rem font:semibold background-color:gray-2:hover" href="https://goerli.etherscan.io/address/0x2fF8dAd2Dc2bDB6350f6bE7374efDeCc7caA69A9#code">Governing ETH Contract</a>
        <!-- <li class="list-style-type:none ml:1.2rem"><a class="text-decoration:none font:crimson-60 font:1rem font:semibold" href="#">homepage(soon)</a></li>  -->

    </nav>

    <div>
        <h1 class="font:white text:center">
            ULTIMATE LEADERBOARD
        </h1>



    </div>




    <div class="grid-cols:2@>=lg grid-cols:1 p:13px|16px@>md gap:20 ac:normal">
        {% for user in leaderboard_list %}
        <div class="grid-cols:2 background-blend-mode:soft-light display:flex flex:row m:auto w:100% gap:10|10@>=md gap:10 grid-auto-flow:dense">



            <img class="obj:center square w:100% w:144@<md" src="{{user.profileurl}}" loading="lazy" />

            
                <div class="d:flex grid-cols:4 grid-cols:2@<md gap-x:25@<=md gap-x:10 gap-y:5@<=md w:100%">
                    <div class="font:crimson-60 font:fade m:auto font:4vw font:2vw@>=md">
                        <div class="h:50% m:auto align:center">Wins</div>
                        <div class="h:50% align:center">{{user.wins}}</div>
                    </div>
                    <div class="font:crimson-60 font:fade m:auto font:4vw font:2vw@>=md">
                        <div class="h:50% w:100% m:auto display:inline-block align:center">Loses</div>
                        <div class="h:50% align:center">{{user.loses}}</div>
                    </div>
                    <div class="font:crimson-60 font:fade m:auto font:4vw font:2vw@>=md">
                        <div class="h:50% w:100% m:auto display:inline-block align:center">Total</div>
                        <div class="h:50% align:center">{{user.total}}</div>
                    </div>
                    <div class="font:crimson-60 font:fade m:auto font:4vw font:2vw@>=md">
                        <div class="h:50% w:100% m:auto display:inline-block align:center">Ranking</div>
                        <div class="h:50% m:auto align:center">{{user.ranking}}</div>
                    </div>
                </div>
            

            <div class="place-item font:white text:36 text:1vm@<md text:center font:bold place-content:center ">{{user.username}}</div>


        </div>
        {% endfor %}
    </div>


</body>
</html>
