<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ultimate Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.master.co/css"></script>
    <!--  <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
</head>

    <body class="bg:linear-gradient(#121212,#454545) mt:60px">

        <nav class="fixed display:flex display:block@<=md top:0 w:full z:1040 bb:1|solid|transparent text:20@<=lg ">
            
            <ul class="display:flex flex:row bg:white-30:hover ">
                <li class="list-style-type:none ml:1.2rem"><a class="text-decoration:none font:white-60 font:1rem font:semibold background-color:gray-2:hover" href="/leaderboard">Leaderboard</a></li>
                <li class="list-style-type:none ml:1.2rem"><a class="text-decoration:none font:crimson-60 font:1rem font:semibold" href="/home">ThroneRoom</a></li>
                <!-- <li class="list-style-type:none ml:1.2rem"><a class="text-decoration:none font:crimson-60 font:1rem font:semibold" href="#">homepage(soon)</a></li>  -->

            </ul>
        </nav>

        <div>
            <h1 class="font:white text:center">
                ULTIMATE LEADERBOARD
            </h1>



        </div>




        <div class="grid-rows:1">
            {% for user in leaderboard_list %}
            <div class="bg:gray-22@dark bg:gray-22 display:flex flex:row flex:col@<=sm ac:stretch m:auto w:100%">


                <div class="grid-row-span:2">
                    <img class="obj:center square w:100% w:144@xs" src="{{user.profileurl}}" loading="lazy" />
                    <div class="font:white font:fade-30@light text:36 text:center font:bold place-content:center ">{{user.username}}</div>
                </div>

                <div class="display:flex flex:row float:right m:auto w:100%@>=lg ac:center jc:center">
                    <div class="d:flex grid-cols:4 box:content gap:50 ac:space-between@>=lg jc:space-between@>=lg">
                        <div class="font:crimson-60 font:fade text:40 text:20@<=md m:auto ">
                            <div class="h:50% m:auto align:center">Wins</div>
                            <div class="h:50%">{{user.wins}}</div>
                        </div>
                        <div class="font:crimson-60 font:fade text:40 text:20@<=md m:auto ">
                            <div class="h:50% w:100% m:auto display:inline-block align:center">Loses</div>
                            <div class="h:50%">{{user.loses}}</div>
                        </div>
                        <div class="font:crimson-60 font:fade text:40 text:20@<=md m:auto ">
                            <div class="h:50% w:100% m:auto display:inline-block align:center">Total</div>
                            <div class="h:50%">{{user.total}}</div>
                        </div>
                        <div class="font:crimson-60 font:fade text:40 text:20@<=md m:auto ">
                            <div class="h:50% w:100% m:auto display:inline-block align:center">Ranking</div>
                            <div class="h:50% m:auto">{{user.ranking}}</div>
                        </div>
                    </div>
                </div>


            </div>
            {% endfor %}
        </div>


    </body>
    </html>
