@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

@keyframes gradient-animation {
    0% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 50% 50%;
    }
}

@keyframes background {
    from {
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg,#121212,#454545);
        border-color: rgb(83, 140, 238);
    }

    to {
        left: 150px;
        top: 50px;
        background: linear-gradient(180deg,#023030,#000000);
        border-color: rgb(235, 95, 99);
    }
}

@keyframes slide-text {
    0% {
        top: 0;
    }

    50% {
        top: -5rem;
    }

    75% {
        top: -9rem;
    }

    100% {
        top: -15rem;
    }
    
}

:root {
    --font-family: JetBrains Mono, monospace;
}